.goog-te-banner-frame, .goog-logo-link  {
  display: none !important;
}

p {
  font-family: sans-serif;
}


.targetLanguage::after {
  content: "hello";
  background-color: blue;
  display: block;
}

.goog-te-combo {
  display: block !important;
}